<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311948228503-uqfv7jjajdmvame3s7qkrpflhkb48ar1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311948228503-uqfv7jjajdmvame3s7qkrpflhkb48ar1</string>
	<key>API_KEY</key>
	<string>AIzaSyAhL9FtrmAiDWmwqNDkAyX98iRroBv10xo</string>
	<key>GCM_SENDER_ID</key>
	<string>311948228503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Zachary-Moelchert.ReadyRecipes</string>
	<key>PROJECT_ID</key>
	<string>readyrecipes-220a7</string>
	<key>STORAGE_BUCKET</key>
	<string>readyrecipes-220a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311948228503:ios:491b319690808f5ee0b6d2</string>
</dict>
</plist>